/**
* 28 Mars 2020
* Gaël DIGARD
*
*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700&display=swap');

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body { 
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  line-height: 1.75em;
  font-size: 16px;
  background-color: #222;
  color: #aaa;
  overflow: hidden;
}

/** Chrome input border **/
input:focus, textarea:focus, select:focus{
  outline: none;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}

.one {
  grid-column: 1 / 4;
  grid-row: 1;
}

.two {
  grid-column: 4 / 4;
  grid-row: 1;
}

blockquote {
  font-size: 55px;
  height: 100%;
  z-index:3;
  font-weight: 100;
  opacity: 0.5;
  position: absolute;
  top: 0%;
  left: 0;
  text-align: center;
  width: 100%;
  line-height:55px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 5%;
  #username_input{
    font-size: 55px;
    color:rgb(170, 170, 170);
    font-family: 'Merriweather', serif;
    font-weight:100;
    width:200px;
        line-height:55px;
    margin:0;
    display: inline;
     background:transparent;
    border:0;
    border-bottom:1px solid rgb(170, 170, 170);

  }
}

#bottom_zone {
  position: absolute;
  bottom: 0;
  min-height: 20px;
  width: 100%;
  background: #1d1d1d;
  box-shadow: 0 -5px 5px -5px #0b0a0a;
}

#activity {
  color: #525252;
  font-size: 12px;
  padding-left: 5px;
  height: 20px;
}

#container_form {
  position: relative;
  background: #151515;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#tchat_box {
  height: 100%;
  background: #1d1d1d;
  position: relative;
  display: block;
  #messages {
    height: 100%;
    overflow: auto;

    ul {
      list-style: none;
      padding-right: 40px;
      padding-left: 20px;
      li {
        background: rgba(71, 74, 79, 0.31);
        margin: 10px;
        border-radius: 10px;
        padding: 8px;
        width: 80%;
        word-break: break-word;
        &.my_message {
          text-align: right;
          background: rgba(71, 74, 79, 0.51);
          margin-left: 20%;
        }
        &.log {
          color: #525252;
          font-size: 12px;
          padding: 0;
          background-color: transparent;
        }
        &.log-video {
          color: #524f41;
          font-size: 12px;
          padding: 0;
          background-color: transparent;

        }
        .username {
          font-size: 11px;
          color: #616768a6;
        }
      }
    }
  }
}

#content_username,
#content_message {
  width: 95%;
  margin: auto;
  background-color: transparent;
  color: #959595;
  border: 0;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Merriweather', serif;

}

/**
 * Custom control bar
 */

#controls {
  text-align: center;
  position: relative;
  transition-duration: 0.5s;
  &.highlight {
    background: rgba(255, 255, 255, 0.18);
  }
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 95%;
    border: 0;
    background-color: #151515;
    color: yellow;
    cursor: pointer;
    &::-webkit-progress-bar {
      background-color: #151515;
    }

    &::-webkit-progress-value {
      background: #313131;
    }

    &::-moz-progress-bar {
      background: #313131;
    }
  }
  button {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 0;
    background: transparent;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  img {
    width: 100%;
  }
}

#video_container {
  height: 100vh;
  text-align: center;
  position: relative;



  video {
    width: 100%;
    height: 100%;
  }
}

#youtube_url {
  width: 100%;
  border: 0;
  background: rgba(0, 0, 0, 0.2);
  height: 44px;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  color: #959595;

}

#video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition-duration: 0.2s;
  z-index: 2;
  &.clicked {
    background: rgba(255, 0, 0, .2);
  }
}

#files_list {
  color: #959595;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  width: 0;
  background: rgba(13, 13, 13, 0.93);
  word-break: break-all;
  z-index: 2;
  transition-duration: 0.5s;
  &.active {
    width: 400px;
  }
  ol {
    li {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.close_files {
  cursor: pointer;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 100%;
}

.hidden {
  display: none !important;
}
